// Styles to rotate resume icon by 45Degrees
.icon-rotate-45 {
 filter: "progid: DXImageTransform.Microsoft.BasicImage(rotation=0.5)";
 -webkit-transform: rotate(45deg);
 -moz-transform: rotate(45deg);
 -ms-transform: rotate(45deg);
 -o-transform: rotate(45deg);
 transform: rotate(45deg);
 display: inline-block;
}

// Styles to be applied on edit and delete buttons
.edit-btn, .delete-btn {
 cursor: pointer;
}