@import url(https://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic);


// Styles to be applied on interview experience form
.interview-experience-form-actions {
    display: flex;
    flex-direction: row;
    margin-left: 360px
}

// Styles to be applied on interview experience cancel btn
.interview-experience-cancel-btn {
    margin-left: 10px
}