.standard-basic{
    width: 300;
     margin-right:5px;
     margin-top: 3px;
}

.formControlInput{
    min-width: 120;
    margin-top:3px
}

.standard-company{
    width: 260;
    margin-right: 5px;
     margin-top: 3px;
}

.standard-basic-link{
    width: 250;
     margin-right: 5px;
     margin-top:3px;
     //margin-left: 50px;
}

.job-listings-form-actions{
    display:flex;
    flex-direction: row;
    margin-left: 380px;
    margin-top: 25px,
}

.job-listings-cancel-btn{
    margin-left: 10px
}