//Style changes with respect to different class names

.JobTable{
  min-width: 170;
  font-display: bold;
}

//Actions ID
.Actions{
  min-width: 170,

}
.divCell{
  display: flex;
  flex-Direction: "row"
}

.avatarAddition{
  margin-right: 10px;
   margin-top: 3px;
}

.aHyperlink{
  text-decoration: "none";
}
.standard-basic-table{
  margin-Right: 15px;
}
.add-job-listings-btn{
  flex:auto;
}

//Search form display has been changed and aligned
.search-form{
  display: flex;
  flex-direction: row;
  margin-bottom: 35px;
  margin-left: 200px;
}

//Table rows are given css
.table-cell{
  &:hover{
    color: white !important;
  }
}

.css-1m11eqk-MuiTableCell-root.MuiTableCell-body {
  padding-left: 50px;
}